:root {
    --main-fonts: 'Roboto';
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --grey-text-color: #757575;
    --indent: 1;
    --items: 30px;
    

}
body {
    font-family: 'Roboto', sans-serif;
}