:root {
    --main-fonts: 'Roboto';
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --grey-text-color: #757575;
    --indent: 3;
    --items: 60px;
    --card-set-gap: 30px;

}
body {
    font-family: 'Roboto', sans-serif;
}