.container-hero__main-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
}

.footer-font__btn {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding-left: 29px;
}

.modal__btn-send {
    color: #ffffff;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn:hover {
    fill: #2196f3;
}

.btn-portfolio__portfolio-btn {
    background-color: #f5f4fa;
    border: #f5f4fa;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: #2196f3;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.btn-portfolio__btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;

    &:hover,
    &:focus {
            color: #ffffff;
        }
}
.modal__btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    background: var(--white-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.btn-portfolio__list-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
    
            justify-content: center;
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1200px) {
    
            justify-content: center;
                margin-bottom: 50px;
        }
}

.btn-portfolio__work-btn:not(:last-child) {
    margin-right: 8px;
}
.btn-portfolio__work-btn{
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
    
            margin-bottom: 0px;
        }
    
        @media screen and (min-width: 1200px) {
    
            margin-bottom: 0px;
        }
}


