.customer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: #212121;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }
  &__grup-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: -15px;
  }
  &__liest-logo {
    margin: 15px;
    width: 210px;

    @media screen and (min-width: 768px) {
      width: 226px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__liest-logo-clients {
    height: 92px;
    outline: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__liest-logo-clients:hover,
  &__liest-logo-clients:focus {
    fill: #2196f3;
    outline: 1px solid #2196f3;
  }
}
