.studio {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}

.studio__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.studio__main-item {
    width: 270px;
}

.studio__main-item:not(:first-child) {
    margin-left: 30px;
}

.studio__list-item {
    list-style: none;
    display: flex;
    align-items: center;
}
.studio__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.info-logo-liest {
    background-color: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.info-logo-liest__svg {
    justify-content: center;
    align-items: center;
}
